body {
  margin: 0;
  font-family: tahoma;
}
.fullsite {
  width: 60%;
  margin: auto;
}
.header {
  width: 100%;
}
.mainmenu {
  background: #0290ff;
  padding: 10px;
  height: 50px;
}
.menu {
  font-size: 18px;
  color: #ffffff;
  border:1px solid #FFFFFF;
  display: inline-block;
  float: left;
}
.menu h2 {
  margin: 0;
  padding: 10px;
}
.menu:hover {
  color: #000000;
  background-color: #ffffff;
}
.name h1 {
  margin: 0;
  color: #ffffff;
  padding: 5px;
  display: inline-block;
  width: 75%;
  float: left;
}
.name {
  text-align: center;
}
.fa-search {
  color: #ffffff;
  font-size: 25px;
  float: left;
  margin: 15px 10px;
}
.fa-search:hover {
  color: #000000;
}
.fa-shopping-cart {
  color: #ffffff;
  font-size: 25px;
  float: right;
  overflow: hidden;
  margin: 15px 5px;
}
.fa-shopping-cart:hover {
  color: #000000;
}
.icon {
  display: flex;
}
.shopping .fa-arrow-left {
  float: left;
  font-size: 25px;
  padding: 12px;
}
.shopping .fa-arrow-left:hover {
  color: #ad66d1;
}
.shopping {
  background: #f1f1f1;
  overflow: hidden;
  width: 100%;
}
.shopping h2 {
  margin: 0;
  padding: 10px;
}
.mainarea {
  width: 90%;
  margin:auto;
}
.mainarea h2 {
  margin: 0;
}
.imagearea {
  padding: 30px 0;
  overflow: hidden;
}
.image {
  float: left;
  min-height: 300px;
  padding: 30px;
}
.imagedes p:nth-child(1) {
  color: #000;
}
.head {
  margin: 0;
}
.imagedes p:nth-child(5) {
  margin-top: 10px;
}
label {
  font-size: 20px;
}
select {
  font-size: 20px;
}
.quent {
  float: left;
}
.remove ,
.apply {
  float: right;
  padding: 5px;
  font-size: 20px;
  background: #ffffff;
  border:2px solid #ad66d1;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  overflow: hidden;
  margin-top: -8px;
}
.remove:hover,
.apply:hover {
  background-color:#ad66d1;
  color: #ffffff;
}
.total {
  overflow: hidden;
  margin: 10px;
  font-size: 18px;
}
.total .left {
  float: left;
}
.total .right {
  float: right;
}
.total p {
  margin: 0;
}
.applyarea {
  margin-top: 20px;
  overflow: hidden;
}
.apply {
  margin-top: 8px;
  padding: 8px;
}
.checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.code input {
  padding: 10px;
  float: left;
  font-size: 18px;
  width: 80%;
}
.checkoutarea {
  margin-top: 20px;
}
.fa-lock {
  color: #FFFFFF;
  float: left;
  position:absolute;
  font-size: 25px;
  margin-top: 8px;
  margin-left: 220px;
}
.goto {
  color: #FFFFFF;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #ad66d1;
  background: rgba(173, 102, 209,0.8)
}
.goto:hover {
  background: #ad66d1
}
.help {
  text-align: center;
  margin: 5px;
}






.
